<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<title>Cadastro de alunos</title>

</h:head>

<h:form>
	
	<h:body>
	
	<ui:include src="/menu.xhtml" />

		
		<div align="center">

			<p:panel header="Cadastro de Alunos">
				<p:messages id="msg" showDetail="true" closable="true"/>
				<div align="left">
					
					<h:panelGrid columns="2">
						
						<p:outputLabel value="Nome :" />
						<p:inputText value="#{alunoBean.aluno.nome}"/>

						<p:outputLabel value="Matricula :" />
						<p:inputText value="#{alunoBean.aluno.matricula}"/>

						<p:outputLabel value="Data Nascimento :" />
						<p:calendar id="popup2" value="#{alunoBean.aluno.datanascimento}"/>

						<p:outputLabel value="Data Matricula :" />
						<p:calendar id="popup" value="#{alunoBean.aluno.datamatricula}"/>



						<p:outputLabel value="" />
						<p:commandButton value="Salvar" action="#{alunoBean.salvarAluno()}" update="msg"/>

					</h:panelGrid>
				</div>
			</p:panel>


		</div>
	</h:body>




</h:form>


</html>