<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body>


	<img
		src="#{facesContext.externalContext.request.contextPath}/img/download.png"
		height="150px" width="300px" />
		
		
	<p:menubar>
	
	

		<p:submenu label="Cadastro" icon="ui-icon-pencil">
			<p:menuitem value="cadastro de Aluno" url="/CadastroAluno.xhtml" />
			<p:menuitem value="cadastro de Prova" url="/CadastroProva.xhtml" />

		</p:submenu>
		
		<p:submenu label="Senha" icon="ui-icon-pencil">
			<p:menuitem value="Trocar Senha" url="/MudarSenha.xhtml" />
			
		</p:submenu>

		<f:facet name="options">

			<p:outputLabel value="Usuario logado: #{usuarioBean.usuario.nome}     " />
			<p:commandButton value="Logout" ajax="false"
				action="#{usuarioBean.logout()}" icon="ui-icon-extlink" />
				
				

		</f:facet>
		
		
		

	</p:menubar>
	<p:spacer />
	
	
</h:body>
</html>